/* Global */
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 6px;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #c096edbd;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-container {
  width: 550px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  box-shadow: 0px 0px 15px 1px rgb(71, 71, 71);
  background-color: rgb(245, 245, 245);
  margin: auto;
}

h1 {
  /* border: 1px solid red; */
  text-align: center;
  font-size: 28px;
  padding: 12px 0px;
  background-color: #c096edbd;
}

.main-container:hover {
  box-shadow: 0px 0px 15px 1px rgb(0, 240, 0);
}

.container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container > input {
  border: none;
  width: 60%;
  padding: 8px 15px;
  background-color: rgb(220, 220, 220);
}

/* Footer */
.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: center;
  border-radius: 0px;
  padding: 4px 0px;
}

.footer p {
  font-size: 16px;
}
/* Media Queries for Responsiveness */
@media only screen and (max-width: 767px) {
  /* Global */
  * {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 6px;
  }

  .main-container {
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 10px 1px rgb(71, 71, 71);
    gap: 30px;
  }

  h1 {
    font-size: 18px;
    padding: 10px 0px;
  }

  .main-container:hover {
    box-shadow: 0px 0px 10px 1px rgb(0, 240, 0);
  }

  .container {
    padding: 4px;
    flex-direction: column;
    padding: 10px;
  }

  .container > input {
    padding: 8px 10px;
    margin: 5px;
    font-size: 20px;
  }

  .container label {
    font-weight: bold;
  }

  /* Footer */
  .footer {
    padding: 2px 0px;
  }

  .footer p {
    font-size: 10px;
  }
}
